.btn-xs-df {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  background: #F9F9F9;
  color: #000;
  font-weight: 500;
}
.btn-xs-df-line {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  background-color: #FFFFFF;
  border: 1px solid #E9E9E9;
  font-weight: 400;
}
.btn-xs-main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  background: #4EBBF7;
  color: #fff;
  font-weight: 700;
}
.btn-xs-main-line {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  background: #F8FCFF;
  border: 1px solid #C7E9FC;
  color: #0098ED;
  font-weight: 500;
}
.btn-xs-sub {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  background: #EFF9FF;
  color: #0064C0;
  font-weight: 500;
}
.btn-xs-dis {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  background: #F5F5F5;
  color: #C8C8C8;
}

.btn-s-df {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 82px;
  height: 36px;
  font-size: 12px;
  background: #F9F9F9;
  color: #000;
  font-weight: 500;
}
.btn-s-main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 82px;
  height: 36px;
  font-size: 12px;
  background: #4EBBF7;
  color: #fff;
  font-weight: 700;
}
.btn-s-main-line {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 82px;
  height: 36px;
  font-size: 12px;
  background: #F8FCFF;
  border: 1px solid #C7E9FC;
  color: #0098ED;
  font-weight: 500;
  color: #0064C0;
  font-weight: 500;
}
.btn-s-sub {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 82px;
  height: 36px;
  font-size: 12px;
  background: #EFF9FF;
  color: #0064C0;
  font-weight: 500;
}
.btn-s-dis {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 82px;
  height: 36px;
  font-size: 12px;
  background: #F5F5F5;
  color: #C8C8C8;
}

.btn-m-df {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 119px;
  height: 44px;
  background: #F9F9F9;
  color: #000;
  font-weight: 500;
}
.btn-m-main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 119px;
  height: 44px;
  background: #4EBBF7;
  color: #fff;
  font-weight: 700;
}
.btn-m-sub {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 119px;
  height: 44px;
  background: #EFF9FF;
  color: #0064C0;
  font-weight: 500;
}
.btn-m-dis {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 119px;
  height: 44px;
  background: #F5F5F5;
  color: #C8C8C8;
}

.btn-l-df {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 128px;
  height: 52px;
  font-size: 14px;
  background: #F9F9F9;
  color: #000;
  font-weight: 500;
}
.btn-l-main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 128px;
  height: 52px;
  font-size: 14px;
  background: #4EBBF7;
  color: #fff;
  font-weight: 700;
  background-color: #0098ED;
}
.btn-l-sub {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 128px;
  height: 52px;
  font-size: 14px;
  background: #EFF9FF;
  color: #0064C0;
  font-weight: 500;
}
.btn-l-dis {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 128px;
  height: 52px;
  font-size: 14px;
  background: #F5F5F5;
  color: #C8C8C8;
}

.btn-xl-df {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 180px;
  width: 260px;
  height: 68px;
  font-size: 16px;
  background: #F9F9F9;
  color: #000;
  font-weight: 500;
}
.btn-xl-main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 180px;
  width: 260px;
  height: 68px;
  font-size: 16px;
  background: #4EBBF7;
  color: #fff;
  font-weight: 700;
  background-color: #0098ED;
}
.btn-xl-sub {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 180px;
  width: 260px;
  height: 68px;
  font-size: 16px;
  background: #EFF9FF;
  color: #0064C0;
  font-weight: 500;
}
.btn-xl-dis {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 180px;
  width: 260px;
  height: 68px;
  font-size: 16px;
  background: #F5F5F5;
  color: #C8C8C8;
}

button .ic-list {
  width: 12px;
  height: 12px;
  background: url(../img/ic_12_list.svg) center no-repeat;
}/*# sourceMappingURL=btn.css.map */