.btn-xs-df {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 82px;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  background: #F9F9F9;
  color: #000;
  font-weight: 500;
}
.btn-xs-main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 82px;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  background: #4EBBF7;
  color: #fff;
  font-weight: 700;
}
.btn-xs-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 82px;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  background: #EFF9FF;
  color: #0064C0;
  font-weight: 500;
}
.btn-xs-dis {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 82px;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  background: #F5F5F5;
  color: #C8C8C8;
}

.btn-s-df {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 82px;
  height: 36px;
  font-size: 12px;
  background: #F9F9F9;
  color: #000;
  font-weight: 500;
}
.btn-s-main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 82px;
  height: 36px;
  font-size: 12px;
  background: #4EBBF7;
  color: #fff;
  font-weight: 700;
}
.btn-s-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 82px;
  height: 36px;
  font-size: 12px;
  background: #EFF9FF;
  color: #0064C0;
  font-weight: 500;
}
.btn-s-dis {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 82px;
  height: 36px;
  font-size: 12px;
  background: #F5F5F5;
  color: #C8C8C8;
}

.btn-m-df {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 119px;
  height: 44px;
  background: #F9F9F9;
  color: #000;
  font-weight: 500;
}
.btn-m-main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 119px;
  height: 44px;
  background: #4EBBF7;
  color: #fff;
  font-weight: 700;
}
.btn-m-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 119px;
  height: 44px;
  background: #EFF9FF;
  color: #0064C0;
  font-weight: 500;
}
.btn-m-dis {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 119px;
  height: 44px;
  background: #F5F5F5;
  color: #C8C8C8;
}

.btn-l-df {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 128px;
  height: 52px;
  font-size: 14px;
  background: #F9F9F9;
  color: #000;
  font-weight: 500;
}
.btn-l-main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 128px;
  height: 52px;
  font-size: 14px;
  background: #4EBBF7;
  color: #fff;
  font-weight: 700;
}
.btn-l-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 128px;
  height: 52px;
  font-size: 14px;
  background: #EFF9FF;
  color: #0064C0;
  font-weight: 500;
}
.btn-l-dis {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 128px;
  height: 52px;
  font-size: 14px;
  background: #F5F5F5;
  color: #C8C8C8;
}

.btn-xl-df {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 180px;
  height: 68px;
  font-size: 16px;
  background: #F9F9F9;
  color: #000;
  font-weight: 500;
}
.btn-xl-main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 180px;
  height: 68px;
  font-size: 16px;
  background: #4EBBF7;
  color: #fff;
  font-weight: 700;
}
.btn-xl-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 180px;
  height: 68px;
  font-size: 16px;
  background: #EFF9FF;
  color: #0064C0;
  font-weight: 500;
}
.btn-xl-dis {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  width: auto;
  gap: 4px;
  min-width: 180px;
  height: 68px;
  font-size: 16px;
  background: #F5F5F5;
  color: #C8C8C8;
}/*# sourceMappingURL=btn.css.map */