@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600&display=swap");
@import url(./bootstrap.css);
@import url(./reset.css);
@import url(./form.css);
@import url(./table.css);
@import url(./grid.css);
@import url(./btn.css);
html {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.5;
  font-size: 14px;
}

body {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.5;
  font-size: 14px;
  min-width: 1680px;
}

.gnb {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 50px 0 40px;
  width: 100%;
  height: 126px;
  border-bottom: 1px solid #E9E9E9;
  background-color: white;
  z-index: 1;
}
.gnb .menu {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  gap: 48px;
  padding-left: 86px;
}
.gnb .menu a {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  height: 39px;
  padding-bottom: 4px;
  box-sizing: border-box;
  display: block;
  color: #686868;
  border-bottom: 4px solid transparent;
}
.gnb .menu li {
  position: relative;
}
.gnb .menu .ac a {
  color: #000;
  border-bottom-color: #4EBBF7;
}
.gnb .profile {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}
.gnb .profile .text {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 12px;
}
.gnb .profile .name {
  font-weight: bold;
}
.gnb .profile .after {
  color: #7E7E7E;
}
.gnb .profile .profileImg {
  border-radius: 100px;
  border: 1px solid #4EBBF7;
  overflow: hidden;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.lnb {
  padding: 40px;
  width: 286px;
  min-height: calc(100vh - 126px);
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 126px;
  left: 0;
  height: 100%;
  border-right: 1px solid #E9E9E9;
  background-color: #fff;
  z-index: 1;
}
.lnb .tit {
  margin-top: 8px;
  padding-left: 40px;
  background: #fff left 3px no-repeat;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.42;
  padding-bottom: 32px;
  border-bottom: 1px solid #686868;
  margin-bottom: 32px;
}
.lnb .tit.page-app {
  background-image: url(../img/lnb/lnb_page-app.svg);
}
.lnb .tit.page-project {
  background-image: url(../img/lnb/lnb_page-project.svg);
}
.lnb .tit.page-approval {
  background-image: url(../img/lnb/lnb_page-approval.svg);
}
.lnb .tit.page-user {
  background-image: url(../img/lnb/lnb_page-user.svg);
}
.lnb .tit.page-service {
  background-image: url(../img/lnb/lnb_page-service.svg);
}
.lnb .tit.page-system {
  background-image: url(../img/lnb/lnb_page-system.svg);
}
.lnb .tit.page-dashboard {
  background-image: url(../img/lnb/lnb_page-dashboard.svg);
}
.lnb .menu {
  padding-bottom: 32px;
  border-bottom: 1px solid #E9E9E9;
}
.lnb .menu li {
  display: block;
  background: 16px/24px no-repeat;
  color: #4A4A4A;
  overflow: hidden;
}
.lnb .menu li:has(.depth3) {
  position: relative;
  overflow: hidden;
}
.lnb .menu li:has(.depth3)::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 16px;
  width: 16px;
  height: 16px;
  background: url(../img/lnb/lnb_arrow.svg) center/cover no-repeat;
}
.lnb .menu li:has(.depth3) .depth3 {
  height: 0;
  opacity: 0;
  transition: 0.3s;
}
.lnb .menu li.ac:has(.depth3)::after {
  background-image: url(../img/lnb/lnb_arrow_ac.svg);
}
.lnb .menu li.ac:has(.depth3) .depth3 {
  opacity: 1;
  height: auto;
}
.lnb .menu li.ac:has(.depth3) .depth3 .depth3-item {
  margin-top: 16px;
}
.lnb .menu li.ac:has(.depth3) .depth3 .depth3-item a {
  height: 20px;
  background: none;
  color: #4A4A4A;
  font-weight: 400;
}
.lnb .menu li.ac:has(.depth3) .depth3 .depth3-item.ac a {
  color: #0098ED;
  font-weight: 500;
}
.lnb .menu li.ac a {
  background-color: #4EBBF7;
  color: #fff;
}
.lnb .menu li + li {
  margin-top: 12px;
}
.lnb .menu li a {
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 48px;
  height: 56px;
  font-size: 16px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 16px;
  background-size: 24px;
}
.lnb .menu li.subPage1-01 a {
  background-image: url(../img/lnb/IC_left_satus.svg);
}
.lnb .menu li.subPage1-01.ac a {
  background-image: url(../img/lnb/IC_left_satus_b.svg);
}
.lnb .menu li.subPage1-02 a {
  background-image: url(../img/lnb/IC_left_release.svg);
}
.lnb .menu li.subPage1-02.ac a {
  background-image: url(../img/lnb/IC_left_release_b.svg);
}
.lnb .menu li.subPage1-03 a {
  background-image: url(../img/lnb/IC_left_addnew.svg);
}
.lnb .menu li.subPage1-03.ac a {
  background-image: url(../img/lnb/IC_left_addnew_b.svg);
}
.lnb .menu li.subPage1-04 a {
  background-image: url(../img/lnb/IC_left_newcicd.svg);
}
.lnb .menu li.subPage1-04.ac a {
  background-image: url(../img/lnb/IC_left_newcicd_b.svg);
}
.lnb .menu li.subPage2-01 a {
  background-image: url(../img/lnb/IC_left_satuspro.svg);
}
.lnb .menu li.subPage2-01.ac a {
  background-image: url(../img/lnb/IC_left_satuspro_b.svg);
}
.lnb .menu li.subPage2-02 a {
  background-image: url(../img/lnb/IC_left_addpro.svg);
}
.lnb .menu li.subPage2-02.ac a {
  background-image: url(../img/lnb/IC_left_addpro_b.svg);
}
.lnb .menu li.subPage3-01 a {
  background-image: url(../img/lnb/IC_left_wait.svg);
}
.lnb .menu li.subPage3-01.ac a {
  background-image: url(../img/lnb/IC_left_wait_b.svg);
}
.lnb .menu li.subPage3-02 a {
  background-image: url(../img/lnb/IC_left_request.svg);
}
.lnb .menu li.subPage3-02.ac a {
  background-image: url(../img/lnb/IC_left_request_b.svg);
}
.lnb .menu li.subPage3-03 a {
  background-image: url(../img/lnb/IC_left_approval.svg);
}
.lnb .menu li.subPage3-03.ac a {
  background-image: url(../img/lnb/IC_left_approval_b.svg);
}
.lnb .menu li.subPage4-01 a {
  background-image: url(../img/lnb/IC_left_userset.svg);
}
.lnb .menu li.subPage4-01.ac a {
  background-image: url(../img/lnb/IC_left_userset_b.svg);
}
.lnb .menu li.subPage4-02 a {
  background-image: url(../img/lnb/IC_left_authority.svg);
}
.lnb .menu li.subPage4-02.ac a {
  background-image: url(../img/lnb/IC_left_authority_b.svg);
}
.lnb .menu li.subPage4-03 a {
  background-image: url(../img/lnb/IC_left_work.svg);
}
.lnb .menu li.subPage4-03.ac a {
  background-image: url(../img/lnb/IC_left_work_b.svg);
}
.lnb .menu li.subPage4-04 a {
  background-image: url(../img/lnb/IC_left_orga.svg);
}
.lnb .menu li.subPage4-04.ac a {
  background-image: url(../img/lnb/IC_left_orga_b.svg);
}
.lnb .menu li.subPage5-01 a {
  background-image: url(../img/lnb/IC_left_zoneset.svg);
}
.lnb .menu li.subPage5-01.ac a {
  background-image: url(../img/lnb/IC_left_zoneset_b.svg);
}
.lnb .menu li.subPage5-02 a {
  background-image: url(../img/lnb/IC_left_outsystemsry.svg);
}
.lnb .menu li.subPage5-02.ac a {
  background-image: url(../img/lnb/IC_left_outsystemsry_b.svg);
}
.lnb .menu li.subPage5-03 a {
  background-image: url(../img/lnb/IC_left_pipe.svg);
}
.lnb .menu li.subPage5-03.ac a {
  background-image: url(../img/lnb/IC_left_pipe_b.svg);
}
.lnb .menu li.subPage5-04 a {
  background-image: url(../img/lnb/IC_left_template.svg);
}
.lnb .menu li.subPage5-04.ac a {
  background-image: url(../img/lnb/IC_left_template_b.svg);
}
.lnb .menu li.subPage6-01 a {
  background-image: url(../img/lnb/IC_left_statussystem.svg);
}
.lnb .menu li.subPage6-01.ac a {
  background-image: url(../img/lnb/IC_left_statussystem_b.svg);
}
.lnb .menu li.subPage6-02 a {
  background-image: url(../img/lnb/IC_left_audit.svg);
}
.lnb .menu li.subPage6-02.ac a {
  background-image: url(../img/lnb/IC_left_audit_b.svg);
}
.lnb .menu li.subPage6-03 a {
  background-image: url(../img/lnb/IC_left_alert.svg);
}
.lnb .menu li.subPage6-03.ac a {
  background-image: url(../img/lnb/IC_left_alert_b.svg);
}

.cmContent {
  position: absolute;
  top: 126px;
  left: 286px;
  padding: 48px;
  width: calc(100% - 286px);
  min-width: 1394px;
}

.h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.44;
  margin-bottom: 21px;
}
.h1:has(.control) {
  display: flex;
  justify-content: space-between;
}

.mainSearch {
  display: flex;
  margin-bottom: 60px;
}
.mainSearch .searchBtn {
  flex: 0 0 178px;
  width: 178px;
  background: #F8FCFF;
  border: 1px solid #C7E9FC;
  font-weight: 700;
  font-size: 16px;
  color: #0064C0;
}

.gridWrap .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  padding-right: 2px;
  min-height: 28px;
}
.gridWrap .top .result {
  font-size: 12px;
}
.gridWrap .top .result span {
  margin-right: 4px;
}
.gridWrap .top .result .value {
  font-weight: 700;
  color: #0098ED;
}
.gridWrap .top .control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 0 auto;
  gap: 8px;
  font-size: 12px;
}
.gridWrap .top .control .new {
  display: flex;
  align-items: center;
  height: 28px;
  background: #4EBBF7;
  border-radius: 4px;
  padding: 0 16px;
  color: #fff;
  border: 0;
  gap: 4px;
  font-weight: 500;
}
.gridWrap .top .control .new::before {
  content: "";
  width: 12px;
  height: 12px;
  background: url(../img/ic_gridControl_new.svg) center/cover no-repeat;
}
.gridWrap .top .control .combobox {
  display: flex;
  align-items: center;
  height: 28px;
  border-radius: 4px;
  padding: 0 16px;
  padding-right: 32px;
  color: #0098ED;
  background: #F8FCFF url(../img/ic_gridControl_combobox.svg) right 16px center/12px no-repeat;
  border: 1px solid #C7E9FC;
}
.gridWrap .top .control .df {
  display: flex;
  align-items: center;
  height: 28px;
  border-radius: 4px;
  padding: 0 16px;
  border: 1px solid #E9E9E9;
  background-color: #fff;
}
.gridWrap .top .control .view {
  border: 0;
  height: 28px;
  padding-left: 24px;
  padding-right: 16px;
  background: url(../img/ic_gridControl_view.svg) right center/12px no-repeat;
}
.gridWrap .top .control .cont-list {
  width: 28px;
  height: 28px;
  background: #FFFFFF center no-repeat;
  border: 1px solid #E9E9E9;
  border-radius: 4px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url(../img/ic_list.svg);
}
.gridWrap .top .control .cont-grid {
  width: 28px;
  height: 28px;
  background: #FFFFFF center no-repeat;
  border: 1px solid #E9E9E9;
  border-radius: 4px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url(../img/ic_grid.svg);
}

.pagination {
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.pagination .active .page-link {
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid #4EBBF7;
  color: #0098ED;
  font-weight: 700;
}
.pagination .page-link {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  font-size: 12px;
  color: #4A4A4A;
  margin: 0 9px;
}
.pagination .page-link:hover {
  background-color: inherit;
}
.pagination .arr {
  width: 20px;
  height: 20px;
  margin: 0 3px;
}
.pagination .prev {
  background: url(../img/ic_pagination_arr1.svg) center/20px no-repeat;
}
.pagination .prev-most {
  background: url(../img/ic_pagination_arr2.svg) center/20px no-repeat;
}
.pagination .next {
  background: url(../img/ic_pagination_arr1.svg) center/20px no-repeat;
  transform: rotate(180deg);
}
.pagination .next-most {
  background: url(../img/ic_pagination_arr2.svg) center/20px no-repeat;
  transform: rotate(180deg);
}

.status {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 66px;
  border-radius: 28px;
  color: #fff;
  font-size: 12px;
  border: 0;
}
.status.stay {
  background-color: #41B97F;
}
.status.run {
  background-color: #0098ED;
}
.status.fail {
  background-color: #E95072;
}

.btn-minus {
  overflow: hidden;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  border: 0;
  background: url(../img/ic_20_cirlce_minus.svg) center no-repeat;
}

.btn-plus {
  overflow: hidden;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  border: 0;
  background: url(../img/ic_20_cirlce_plus.svg) center no-repeat;
}

.modal-xl {
  width: 100vw;
  max-width: 1599px;
}

.modal-l {
  width: 100vw;
  max-width: 1260px;
}

.modal-m {
  width: 100vw;
  max-width: 680px;
}

.modal-backdrop.show {
  opacity: 0.65;
}

.modal-content {
  border: 0;
  border-radius: 20px;
}
.modal-content .modal-header {
  padding: 32px;
  position: relative;
  border: 0;
}
.modal-content .modal-header .modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.42;
  color: #000000;
}
.modal-content .modal-header .close {
  width: 32px;
  height: 32px;
  background: url(../img/ic_modalClose.svg) center/cover no-repeat;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 44px;
  top: 32px;
  text-indent: -9999px;
  overflow: hidden;
  opacity: 1 !important;
}
.modal-content .modal-body {
  padding: 0 32px;
}
.modal-content .modal-footer {
  border-top: 0;
  padding: 40px 32px 60px;
  justify-content: center;
  gap: 8px;
}

.step {
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  padding: 0 40px;
  height: 76px;
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}
.step .item {
  flex: 0 0 auto;
  width: 192px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.step .item .numbering {
  width: 24px;
  height: 24px;
  background: #ACACAC;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step .item.complete .numbering {
  background: #4A4A4A url(../img/ic_step_complete.svg) center no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
.step .item.complete .text {
  font-weight: 700;
  color: #4A4A4A;
}
.step .item.focus .numbering {
  width: 28px;
  height: 28px;
  background: transparent url(../img/ic_step_focus.svg) center no-repeat;
  color: #0098ED;
  font-weight: 700;
}
.step .item.focus .text {
  color: #0098ED;
  font-size: 16px;
  font-weight: 700;
}
.step .item .text {
  color: #000000;
}

.step-contents-06 img {
  width: 100%;
}
.step-contents-06 .yaml {
  height: 382px;
  overflow-y: auto;
  background-color: #1E1E1E;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
}

.btnWrap {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;
}

.newAppCard {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  max-width: 1128px;
  flex-wrap: wrap;
  gap: 24px;
}
.newAppCard .tit {
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 25px;
}
.newAppCard .badge {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #0098ED 0%, #41B97F 100%);
}
.newAppCard .badge span {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
}
.newAppCard ul li {
  position: relative;
  line-height: 1.43;
  padding-left: 12px;
  margin-bottom: 12px;
}
.newAppCard ul li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #4EBBF7;
}
.newAppCard .tagWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 20px;
}
.newAppCard .tag {
  box-sizing: border-box;
  padding: 4px 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #7E7E7E;
}
.newAppCard p {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #4A4A4A;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.newAppCard .item {
  flex: 0 0 auto;
  width: 360px;
  height: 324px;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 16px;
  border: 1px solid #4EBBF7;
  position: relative;
  color: #0098ED;
}
.newAppCard .cicd-line {
  border: 1px solid #41B97F;
  color: #3D8361;
}
.newAppCard .cicd-line li::before {
  background-color: #3D8361;
}
.newAppCard .pack-line {
  border: 1px solid #0064C0;
  color: #004CA0;
}
.newAppCard .pack-line li::before {
  background-color: #004CA0;
}
.newAppCard .app-fill {
  border: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: #0098ED;
}
.newAppCard .app-fill li::before {
  background-color: #fff;
}
.newAppCard .app-fill .badge {
  background-image: none;
  background-color: #fff;
}
.newAppCard .app-fill .badge span {
  background: linear-gradient(180deg, #0098ED 0%, #41B97F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.newAppCard .app-fill p {
  color: #fff;
}
.newAppCard .cicd-fill {
  border: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: #359D6B;
}
.newAppCard .cicd-fill li::before {
  background-color: #fff;
}
.newAppCard .cicd-fill .badge {
  background-image: none;
  background-color: #fff;
}
.newAppCard .cicd-fill .badge span {
  background: linear-gradient(180deg, #0098ED 0%, #41B97F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.newAppCard .cicd-fill p {
  color: #fff;
}
.newAppCard .pack-fill {
  border: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: #0064C0;
}
.newAppCard .pack-fill li::before {
  background-color: #fff;
}
.newAppCard .pack-fill .badge {
  background-image: none;
  background-color: #fff;
}
.newAppCard .pack-fill .badge span {
  background: linear-gradient(180deg, #0098ED 0%, #41B97F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.newAppCard .pack-fill p {
  color: #fff;
}

.apply-step-success {
  text-align: center;
}
.apply-step-success .mesg {
  margin: 44px 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.44;
  color: #7E7E7E;
}
.apply-step-success .mesg b {
  color: #0098ED;
}

.treeViewWrap {
  max-width: 720px;
  border-top: 1px solid #686868;
  padding-top: 32px;
}

.treeView {
  padding: 22px 32px;
  border: 1px solid #E9E9E9;
  border-radius: 12px;
  height: 395px;
  overflow-y: auto;
}
.treeView .group.open > ul:has(.item) {
  display: block;
  margin-top: 3px;
  margin-bottom: 10px;
  padding-left: 28px;
}
.treeView .group.open > .groupTit {
  background: url(../img/ic_24_lowlink.svg) left center no-repeat;
}
.treeView .groupTit {
  text-align: left;
  padding: 10px 0;
  font-size: 16px;
  padding-left: 32px;
  background: url(../img/ic_24_highlink.svg) left center no-repeat;
  cursor: pointer;
}
.treeView ul:has(.item) {
  display: none;
}
.treeView .item {
  text-align: left;
  padding: 5px 0;
  padding-left: 24px;
  background: url(../img/ic_24_linking.svg) left center no-repeat;
  cursor: pointer;
}
.treeView .item + .item {
  margin-top: 4px;
}
.treeView .addTree {
  height: 32px;
  font-size: 12px;
}
.treeView .caption {
  margin-left: 32px;
  margin-top: 24px;
}
.treeView .caption + .caption {
  margin-top: 12px;
}

.grid .group.open > ul:has(.item) {
  display: block;
  margin-top: 3px;
  margin-bottom: 10px;
  padding-left: 28px;
}
.grid .group.open > .groupTit {
  background: url(../img/ic_24_lowlink.svg) left center no-repeat;
}
.grid .groupTit {
  text-align: left;
  padding: 10px 0;
  font-size: 16px;
  padding-left: 32px;
  background: url(../img/ic_24_highlink.svg) left center no-repeat;
  cursor: pointer;
}
.grid ul:has(.item) {
  display: none;
}
.grid .item {
  text-align: left;
  padding: 5px 0;
  padding-left: 24px;
  background: url(../img/ic_24_linking.svg) left center no-repeat;
  cursor: pointer;
}
.grid .item + .item {
  margin-top: 4px;
}
.grid .addTree {
  height: 32px;
  font-size: 12px;
}
.grid .caption {
  margin-left: 32px;
  margin-top: 24px;
}
.grid .caption + .caption {
  margin-top: 12px;
}
.grid .groupTit {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 400;
}
.grid ul:has(.item) {
  display: block !important;
  padding-left: 20px;
}
.grid ul:has(.item) .item {
  color: #4A4A4A;
  padding-left: 32px;
  font-weight: 400;
}

.divisionWrap {
  border: 1px solid #E9E9E9;
  border-radius: 12px;
  padding: 32px;
  display: flex;
}
.divisionWrap .control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 0 auto;
  gap: 8px;
  font-size: 12px;
}
.divisionWrap .control .new {
  display: flex;
  align-items: center;
  height: 28px;
  background: #4EBBF7;
  border-radius: 4px;
  padding: 0 16px;
  color: #fff;
  border: 0;
  gap: 4px;
  font-weight: 500;
}
.divisionWrap .control .new::before {
  content: "";
  width: 12px;
  height: 12px;
  background: url(../img/ic_gridControl_new.svg) center/cover no-repeat;
}
.divisionWrap .control .combobox {
  display: flex;
  align-items: center;
  height: 28px;
  border-radius: 4px;
  padding: 0 16px;
  padding-right: 32px;
  color: #0098ED;
  background: #F8FCFF url(../img/ic_gridControl_combobox.svg) right 16px center/12px no-repeat;
  border: 1px solid #C7E9FC;
}
.divisionWrap .control .df {
  display: flex;
  align-items: center;
  height: 28px;
  border-radius: 4px;
  padding: 0 16px;
  border: 1px solid #E9E9E9;
  background-color: #fff;
}
.divisionWrap .control .view {
  border: 0;
  height: 28px;
  padding-left: 24px;
  padding-right: 16px;
  background: url(../img/ic_gridControl_view.svg) right center/12px no-repeat;
}
.divisionWrap .control .cont-list {
  width: 28px;
  height: 28px;
  background: #FFFFFF center no-repeat;
  border: 1px solid #E9E9E9;
  border-radius: 4px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url(../img/ic_list.svg);
}
.divisionWrap .control .cont-grid {
  width: 28px;
  height: 28px;
  background: #FFFFFF center no-repeat;
  border: 1px solid #E9E9E9;
  border-radius: 4px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url(../img/ic_grid.svg);
}
.divisionWrap .dividerWrap {
  padding: 16px 88px 0;
  position: relative;
}
.divisionWrap .dividerWrap .divider {
  width: 1px;
  height: 100%;
  background: #E9E9E9;
}
.divisionWrap .dividerWrap .arrowImg {
  position: absolute;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background: #fff url(../img/ic_division_arr.svg) center/cover no-repeat;
}
.divisionWrap .left {
  flex: 1 0 0;
  padding-bottom: 20px;
}
.divisionWrap .left .flexWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.divisionWrap .left .flexWrap .searchInputWrap {
  margin-bottom: 0;
}
.divisionWrap .left .flexWrap .table-tit {
  margin: 0;
}
.divisionWrap .right {
  flex: 1 0 0;
  padding-bottom: 20px;
}
.divisionWrap .right .grid-tit {
  margin-top: 10px;
}

[attr=arrow] {
  display: inline-block;
  margin: 0 20px;
  width: 20px;
  height: 20px;
  background: url(../img/ic_arrow_right.svg) center no-repeat;
  vertical-align: bottom;
}

.tab-round {
  gap: 8px;
  margin-top: 60px;
  margin-bottom: 20px;
  border: 0;
}
.tab-round .nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #000000;
  padding: 16px;
  min-width: 160px;
  background: #F9F9F9;
  border-radius: 28px;
  border: 0;
}
.tab-round .nav-link.active {
  background: #4EBBF7;
  border-radius: 28px;
  color: #fff;
}

.tab-round-content {
  margin-bottom: 20px;
}

.flexWrap {
  display: flex;
  align-items: center;
  gap: 8px;
}
.flexWrap:has(.checkbox) {
  gap: 0;
}

.caption {
  margin-left: 24px;
  padding-left: 14px;
  font-weight: 400;
  font-size: 12px;
  color: #686868;
  position: relative;
}
.caption::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  background-color: #C8C8C8;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.flexWrap-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.appPackaging-nav {
  background-color: #fff;
  padding: 48px;
  padding-right: 0;
  width: auto;
  min-height: calc(100vh - 126px);
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 126px;
  left: 0;
  border: 0;
  flex-direction: column;
  gap: 8px;
  counter-reset: list-number;
}
.appPackaging-nav .nav-link {
  background: #FFFFFF;
  border: 1px solid #E9E9E9 !important;
  border-radius: 4px;
  width: 240px;
  margin: 0;
  padding: 16px 32px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #4A4A4A;
  counter-increment: list-number;
  display: flex;
  gap: 12px;
  position: relative;
}
.appPackaging-nav .nav-link::before {
  content: counter(list-number);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #F9F9F9;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #7E7E7E;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.appPackaging-nav .nav-link.active {
  background-color: #EFF9FF;
  border-color: #C7E9FC !important;
  color: #0098ED;
  font-weight: 700;
}
.appPackaging-nav .nav-link.active::before {
  font-weight: 700;
  color: #0098ED;
  background: #F8FCFF;
  border: 1px solid #C7E9FC;
}
.appPackaging-nav .nav-link.active::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25px;
  transform: rotate(45deg) translate(3px, -50%);
  width: 12px;
  height: 12px;
  background-color: #EFF9FF;
  border: 1px solid #C7E9FC;
  border-left-color: transparent;
  border-bottom-color: transparent;
  display: block;
}

.addTag .result {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.addTag .result .tagItem {
  margin-top: 14px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  height: 28px;
  padding: 0 12px;
  border: 1px solid #C7E9FC;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  color: #0098ED;
}
.addTag .result .tagItem .tagRemove {
  width: 12px;
  height: 12px;
  background: url(../img/ic_12_delete.svg) center/cover no-repeat;
  text-indent: -9999px;
  cursor: pointer;
}

.addImg {
  display: flex;
  align-items: center;
  gap: 24px;
}
.addImg .caption {
  margin-left: 3px;
}
.addImg input {
  background: #FFFFFF !important;
  border: 1px solid #E9E9E9 !important;
}

.appPackaginDesc {
  margin-top: -4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #4A4A4A;
  margin-bottom: 32px;
}

.codeView {
  width: 100%;
  height: 640px;
  background-color: #1E1E1E;
  border-radius: 8px;
  overflow: auto;
}/*# sourceMappingURL=common.css.map */