@charset "UTF-8";
input[type=text] {
  padding: 0 12px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 6px;
  width: 280px;
  line-height: 1.43;
  color: #000;
  height: 40px;
}
input[type=text]:hover {
  color: #0064C0;
  border-color: #4EBBF7;
}
input[type=text]::placeholder {
  color: #ACACAC;
}
input[type=text]:read-only {
  background: #F9F9F9;
  border: 1px solid #C8C8C8;
}
input[type=text]:disabled {
  background: #F9F9F9;
  border: 1px solid #E9E9E9;
  color: #C8C8C8;
}

.select {
  padding: 0 12px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 6px;
  width: 280px;
  line-height: 1.43;
  color: #000;
  height: 40px;
  padding-right: 31px;
  background: url(../img/ic_select_arr.svg) right 15px center/16px no-repeat;
  color: #ACACAC;
}
.select:hover {
  color: #0064C0;
  border-color: #4EBBF7;
}
.select:focus-visible {
  color: #000;
  outline: none;
}

.checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.checkbox input[type=checkbox] {
  display: none;
}
.checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #E9E9E9;
  border-radius: 4px;
  background: #fff url(../img/ic_checkbox.svg) center no-repeat;
}
.checkbox:has(:checked)::after {
  border: 0;
  background-color: #4EBBF7;
}

textarea {
  padding: 10px 12px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #000;
  resize: none;
}
textarea::placeholder {
  color: #ACACAC;
}

.rangeWrap {
  display: flex;
  align-items: center;
}
.rangeWrap .rangeConsole {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  color: #0064C0;
  width: 80px;
  height: 36px;
  background: #F8FCFF;
  border: 1px solid #C7E9FC;
  border-radius: 6px;
}
.rangeWrap .rangeConsole::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

.range {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  position: relative;
  min-width: 600px;
}
.range input[type=radio] {
  display: none;
}
.range label {
  min-width: 18px;
  line-height: 1.43;
  text-align: center;
  color: #686868;
  position: relative;
  padding-top: 28px;
}
.range label::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #F9F9F9;
  border: 1px solid #C8C8C8;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.range label:has(:checked) {
  color: #0098ED;
}
.range label:has(:checked)::before {
  background-color: #0098ED;
  border-color: #0098ED;
}
.range label:has(:checked) .value {
  font-weight: 700;
}
.range label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 50%;
  width: calc(100% + 40px);
  height: 1px;
  background-color: #E9E9E9;
  z-index: -1;
}
.range label:last-child::after {
  display: none;
}/*# sourceMappingURL=form.css.map */