
:root {
    --fc-border-color: transparent;
}

.fullcalendar {
    max-width: 1120px;

    .calendarTop {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.42;
        text-align: center;
        color: #4A4A4A;
        margin-bottom: 40px;

        .cal-left {
            width: 24px;
            height: 24px;
            border: 0;
            background:url(../img/icon_16_arrow_left.svg) center no-repeat;
            margin-right: 16px;
        }
        .cal-right {
            width: 24px;
            height: 24px;
            border: 0;
            background:url(../img/icon_16_arrow_right.svg) center no-repeat;
            margin-left: 16px;
        }
        .download-cvs {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .grid {
        margin-bottom: 40px;
    }


    .modal-body {
        padding-bottom: 77px !important;
    }

    .fc th {
        width: auto;
        height: 39px;
        background-color: transparent;
        > .fc-scrollgrid-sync-inner {
            border-top: 1px solid #4A4A4A;
            padding: 10px 12px;
            text-align: left;
            color: #7E7E7E;
            font-weight: 700;
            font-size: 14px;
        }
        &:first-child > .fc-scrollgrid-sync-inner {
            border-top-color: #FF7997;
            color:#FF7997;
        }
    }
    .fc .fc-daygrid-day-top {
        flex-direction: row;
        padding: 10px 12px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
    }
    .fc-day-sun .fc-daygrid-day-top {
        color:#FF7997;
    }

    .fc-theme-standard td, 
    .fc-theme-standard th {
        padding: 1.5px 6px;
        border-width: 0;
    }

    
    // .fc {
    //     .fc-daygrid-day-top {
    //         flex-direction: row;
    //         a {
    //             font-weight: 400;
    //             font-size: 14px;
    //             line-height: 20px;
    //             color: #000000;
    //         }
    //     }
    // }
    // .fc-header-toolbar {
    //     .fc-toolbar-chunk {
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         .fc-toolbar-title {
    //             margin: 0 10px;
    //             font-weight: 400;
    //             font-size: 20px;
    //             line-height: 29px;
    //             color: #000000;
    //             letter-spacing: normal;
    //             font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    //         }
    //         button {
    //             margin: 0;
    //         }
    //         .fc-prev-button,
    //         .fc-next-button {
    //             outline: none;
    //             box-shadow: none !important;
    //             padding: 0;
    //             border: 0;
    //             width: 26px;
    //             height: 26px;
    //             background: url(/res/img/ncsoft/icon_16_arrow_right.svg) center/16px no-repeat;
    //             .fc-icon {
    //                 display: none;
    //             }
    //         }
    //         .fc-prev-button {
    //             background-image: url(/res/img/ncsoft/icon_16_arrow_left.svg);
    //         }
    //     }
    // }
    // .fc-view-harness {
    //     width: calc(100% + 12px);
    //     margin-left: -6px;
    //     margin-right: -6px;
    // }
    // .fc-theme-standard {
    //     td, th {
    //         border-color: transparent;
    //         background: transparent;
    //     }
    //     .fc-scrollgrid {
    //         border: 0;
    //     }
    //     .fc-col-header  {
    //         th {
    //             padding: 0 6px 26px;
    //             text-align: left;
    //             .fc-scrollgrid-sync-inner {
    //                 box-sizing: border-box;
    //                 padding-top: 14px;
    //                 border-top: 1px solid #97D8D4;
    //                 box-shadow:inset 0 5px 0 #EEF9F7;
    //             }
    //             &:nth-child(1) {
    //                 .fc-scrollgrid-sync-inner {
    //                     border-top: 1px solid #EB7A95;
    //                     box-shadow:inset 0 5px 0 #FFF7F7;
    //                     a {
    //                         color: #EB7A95;
    //                     }
    //                 }   
    //             }
    //             a {
    //                 font-weight: 700;
    //                 font-size: 14px;
    //                 line-height: 20px;
    //                 color: #4A4A4A;
    //             }
    //         }
    //     }
    //     .fc-scrollgrid-sync-table {
    //         td {
    //             padding: 8px 6px;
    //             &:nth-child(1) {
    //                 a {
    //                     color: #EB7A95;
    //                 }
    //             }
    //         }
    //     }
    // }
}

