
.tableWrap {
    border-top: 1px solid #686868;
    & + .table-tit {
        margin-top: 40px;
    }
    & + .tableWrap {
        margin-top: 20px;
    }
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
th,td {
    vertical-align: middle;
    border-bottom: 1px solid #E9E9E9;
}
th {
    background-color: #F9F9F9;
    font-weight: 500;
    line-height: 1.43;
    color: #4A4A4A;
    height: 68px;
    width: 200px;
    // max-width: 200px;
    text-align: center;
    &.req::before {
        content: '';
        width: 10px;
        height: 10px;
        background: url(../img/ic_req.svg) center no-repeat;
        margin-right: 4px;
        margin-bottom: 5px;
        display: inline-block;
    }
}
td {
    padding: 14px 20px;
    .checkbox {
        margin-right: 38px;
        &:last-child {
            margin-right: 0;
        }
    }
    .dropdown + input {
        margin-left: 10px;
    }
    .caption {
        margin-left: 24px;
        padding-left: 14px;
        font-weight: 400;
        font-size: 12px;
        color: #686868;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 7px;
            background-color: #C8C8C8;
            width: 6px;
            height: 6px;
            border-radius: 50%;
        }
    }
}

td:has(.rangeWrap) {
    padding: 26px;
    padding-left: 60px;
} 

.table-tit {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}