<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClovirCM</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="btnWrap">
        <div class="btn-xs-df">버튼</div>
        <div class="btn-xs-main">버튼</div>
        <div class="btn-xs-sub">버튼</div>
        <div class="btn-xs-dis">버튼</div>
    </div>
    <div class="btnWrap">
        <div class="btn-s-df">버튼</div>
        <div class="btn-s-main">버튼</div>
        <div class="btn-s-sub">버튼</div>
        <div class="btn-s-dis">버튼</div>
    </div>
    <div class="btnWrap">
        <div class="btn-m-df">버튼</div>
        <div class="btn-m-main">버튼</div>
        <div class="btn-m-sub">버튼</div>
        <div class="btn-m-dis">버튼</div>
    </div>
    <div class="btnWrap">
        <div class="btn-l-df">버튼</div>
        <div class="btn-l-main">버튼</div>
        <div class="btn-l-sub">버튼</div>
        <div class="btn-l-dis">버튼</div>
    </div>
    <div class="btnWrap">
        <div class="btn-xl-df">버튼</div>
        <div class="btn-xl-main">버튼</div>
        <div class="btn-xl-sub">버튼</div>
        <div class="btn-xl-dis">버튼</div>
    </div>
</body>
</html>