<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClovirCM</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="gnb">
        <a href="#">
            <!-- 루트 기준 경로. 개발 환경에 따라 경로 설정해주세요 -->
            <img src="../img/logo_cm.svg" alt="logo">
        </a>
        <ul class="menu">
            <li class="ac"><a href="#">앱 관리</a></li>
            <li><a href="#">프로젝트 관리</a></li>
            <li><a href="#">결재함</a></li>
            <li><a href="#">사용자 관리</a></li>
            <li><a href="#">서비스 설정</a></li>
            <li><a href="#">시스템</a></li>
            <li><a href="#">게시판</a></li>
            <li><a href="#">대시보드</a></li>
        </ul>
        <div class="profile">
            <div class="text">
                <span class="team">[팀명]</span>
                <span class="name">관리자</span>
                <span class="after">님</span>
            </div>
            <!-- 루트 기준 경로. 개발 환경에 따라 경로 설정해주세요 -->
            <img class="profileImg" src="../img/ic_profile.svg" alt="profile">
        </div>
    </div>
</body>
</html>