<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClovirCM</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="grid">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>
                        <label class="checkbox"><input type="checkbox"></label>
                    </th>
                    <th>value</th>
                    <th>value</th>
                    <th>value</th>
                    <th>value</th>
                    <th>value</th>
                    <th style="width:80px;">삭제</th>
                    <th style="width:80px;">value</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr>
                    <td>
                        <label class="checkbox"><input type="checkbox"></label>
                    </td>
                    <td>value</td>
                    <td><span class="status run">배포성공</span></td>
                    <td><button class="status stay">배포전</button></td>
                    <td><button class="status fail">배포전</button></td>
                    <td><button class="btn-xs-main">신청</button></td>
                    <td><button class="btn-minus"></button></td>
                    <td><button class="btn-plus"></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>