<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClovirCM</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="lnb">
        <div class="tit page-app">앱 관리</div>
        <!-- 
        <div class="tit page-project">프로젝트 관리</div>
        <div class="tit page-approval">결재함</div>
        <div class="tit page-user">사용자 관리</div>
        <div class="tit page-service">서비스 설정</div>
        <div class="tit page-system">시스템</div>
        <div class="tit page-dashboard">대시보드</div> 
        -->
        <ul class="menu">
            <li class="subPage1-01 ac"><a href="#">앱& CI/CD 현황</a></li>
            <li class="subPage1-02"><a href="#">앱 배포현황 </a></li>
            <li class="subPage1-03"><a href="#">앱 신규 신청</a></li>
            <li class="subPage1-04"><a href="#">CI/CD 신규신청</a></li>

            <!-- 
            <li class="subPage2-01"><a href="#">프로젝트 현황</a></li>
            <li class="subPage2-02"><a href="#">프로젝트 신청 </a></li>

            <li class="subPage3-01"><a href="#">결재대기</a></li>
            <li class="subPage3-02"><a href="#">결재 요청</a></li>
            <li class="subPage3-03"><a href="#">결재 완료</a></li>

            <li class="subPage4-01"><a href="#">사용자 관리</a></li>
            <li class="subPage4-02"><a href="#">시스템 권한 계정관리</a></li>
            <li class="subPage4-03"><a href="#">업무 관리</a></li>
            <li class="subPage4-04"><a href="#">조직 관리</a></li>

            <li class="subPage5-01"><a href="#">ZONE 관리</a></li>
            <li class="subPage5-02"><a href="#">외부시스템관리</a></li>
            <li class="subPage5-03"><a href="#">파이프라인 관리</a></li>
            <li class="subPage5-04">
                <a href="#">탬플릿관리</a>
                <ul class="depth3">
                    <li class="depth3-item ac"><a href="#">앱 탬플릿</a></li>
                    <li class="depth3-item"><a href="#">앱 패키지 템플릿</a></li>
                </ul>
            </li>
            <li class="subPage6-01"><a href="#">시스템 작업 현황</a></li>
            <li class="subPage6-02"><a href="#">감사(Audit)</a></li>
            <li class="subPage6-03"><a href="#">시스템 알림</a></li> 
            -->
        </ul>
    </div>
</body>
</html>