<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClovirCM</title>
</head>
<body>
    <div class="lnb">
        <div class="tit page-app">앱 관리</div>
        <!-- <div class="tit page-project">프로젝트 관리</div> -->
        <ul class="menu">
            <li class="subPage01 ac"><a href="#">앱& CI/CD 현황</a></li>
            <li class="subPage02"><a href="#">앱 배포현황 </a></li>
            <li class="subPage03"><a href="#">앱 신규 신청</a></li>
            <li class="subPage04"><a href="#">CI/CD 신규신청</a></li>
        </ul>
    </div>
</body>
</html>