<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClovirCM</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <section class="mainSearch">
        <div class="tableWrap">
            <table>
                <tbody>
                    <tr>
                        <th>value</th>
                        <td>
                            <!-- <select class="select" name="" id="">
                                <option value="text1">text1</option>
                                <option value="text2">text2</option>
                                <option value="text3">text3</option>
                            </select> -->
                            <input type="text" placeholder="placeholder">
                        </td>
                        <th>value</th>
                        <td>
                            <!-- evoke0424 : 커스텀 셀렉트 표현을 위해서 셀렉트 아래와 같은 dropdown 컴포넌트 활용해주세요. 
                                선택한 dropdown-item이 select에 들어가도록 개발 부탁드립니다. -->
                            <div class="dropdown">
                                <button class="select" type="button" data-toggle="dropdown" aria-expanded="false">
                                    ALL
                                </button>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item" type="button">value1</button>
                                    <button class="dropdown-item" type="button">value2</button>
                                    <button class="dropdown-item" type="button">value3</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>value</th>
                        <td>
                            <div class="searchInputWrap">
                                <input type="text" class="searchInput" placeholder="검색">
                                <button class="searchInputBtn">검색</button>
                            </div>
                        </td>
                        <th>value</th>
                        <td>
                            <!-- evoke0424 : 커스텀 셀렉트 표현을 위해서 셀렉트 아래와 같은 dropdown 컴포넌트 활용해주세요. 
                                선택한 dropdown-item이 select에 들어가도록 개발 부탁드립니다. -->
                            <div class="dropdown">
                                <button class="select" type="button" data-toggle="dropdown" aria-expanded="false">
                                  전체
                                </button>
                                <div class="dropdown-menu">
                                  <button class="dropdown-item" type="button">관리자</button>
                                  <button class="dropdown-item" type="button">프로젝트 관리자</button>
                                  <button class="dropdown-item" type="button">사용자</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="searchBtn">조회</button>
    </section>
    
</body>
</html>