<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClovirCM</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <section class="mainSearch">
        <div class="tableWrap">
            <table>
                <tbody>
                    <tr>
                        <th>value</th>
                        <td>
                            <!-- <select class="select" name="" id="">
                                <option value="text1">text1</option>
                                <option value="text2">text2</option>
                                <option value="text3">text3</option>
                            </select> -->
                            <input type="text" placeholder="placeholder">
                        </td>
                        <th>value</th>
                        <td>
                            <select class="select" name="" id="">
                                <option value="text1">text1</option>
                                <option value="text2">text2</option>
                                <option value="text3">text3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>value</th>
                        <td>
                            <select class="select" name="" id="">
                                <option value="text1">text1</option>
                                <option value="text2">text2</option>
                                <option value="text3">text3</option>
                            </select>
                        </td>
                        <th>value</th>
                        <td>
                            <select class="select" name="" id="">
                                <option value="text1">text1</option>
                                <option value="text2">text2</option>
                                <option value="text3">text3</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="searchBtn">조회</button>
    </section>
</body>
</html>