<body>
    <section class="mainSearch">
        <div class="tableWrap">
            <table>
                <tbody>
                    <tr>
                        <th>value</th>
                        <td>
                            <!-- <select class="select" name="" id="">
                                <option value="text1">text1</option>
                                <option value="text2">text2</option>
                                <option value="text3">text3</option>
                            </select> -->
                            <input type="text" placeholder="placeholder">
                        </td>
                        <th>value</th>
                        <td>
                            <select class="select" name="" id="">
                                <option value="text1">text1</option>
                                <option value="text2">text2</option>
                                <option value="text3">text3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>value</th>
                        <td>
                            <select class="select" name="" id="">
                                <option value="text1">text1</option>
                                <option value="text2">text2</option>
                                <option value="text3">text3</option>
                            </select>
                        </td>
                        <th>value</th>
                        <td>
                            <select class="select" name="" id="">
                                <option value="text1">text1</option>
                                <option value="text2">text2</option>
                                <option value="text3">text3</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="searchBtn">조회</button>
    </section>
</body>