<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClovirCM</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    
    <style>
        div:has([data-toggle="modal"]) {
            margin: 40px;
        }
    </style>
    
</head>
<body>
    
    <!-- Button trigger modal -->
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-01">
            앱관리 팝업
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-02">
            앱관리 팝업 - grid
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-03">
            앱관리 팝업 - 06. Yaml
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-04">
            앱관리 팝업 - 복원
        </button>
        
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-05">
            앱관리 팝업 - 파이프라인 선택
        </button>
    </div>
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-06">
            프로젝트 선택 - 업무 선택
        </button>
    </div>
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-07">
            사용자 관리 - 조직도
        </button>
    </div>
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-08">
            시스템설정 - ZONE 등록 / ZONE 상세정보
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-09">
            시스템설정 - 외부 시스템 등록 / 외부 시스템 수정 / 파이프라인 등록
        </button>
    </div>

    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-10">
            시스템 - 시스템 알림
        </button>
    </div>

    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-11">
            캘린더 - 사용 현황
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-12">
            캘린더 - 일별 접속자 정보
        </button>
    </div>


    <!-- Modal -->

    <!-- 
        modal width 관련 :
        modal-dialog 요소에서 클래스로 사이즈를 설정합니다.
        - modal-xl : 1599px
        - modal-l : 1260px
        - modal-m : 680px
        - 별도 선언한것이 없으면 아이템 크기에 맞춰집니다.
        - 그외 별도 사이즈 : inline 으로 max-width 로 별도 크기 설정. 
    -->

    <div class="modal fade" id="modal-01" tabindex="-1" aria-labelledby="modal-01Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-l">
        <div class="modal-content" style="min-height: 720px;">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-01Label">상세정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="tab">
                    <div class="item ac">접속이력</div>
                    <div class="item">변경이력</div>
                </div>

                <div class="step">
                    <div class="item complete">
                        <span class="numbering">1</span>
                        <span class="text">신청내역</span>
                    </div>
                    <div class="item focus">
                        <span class="numbering">2</span>
                        <span class="text">실행정보</span>
                    </div>
                    <div class="item">
                        <span class="numbering">3</span>
                        <span class="text">Pod</span>
                    </div>
                    <div class="item">
                        <span class="numbering">4</span>
                        <span class="text">Service</span>
                    </div>
                    <div class="item">
                        <span class="numbering">5</span>
                        <span class="text">Containers</span>
                    </div>
                    <div class="item">
                        <span class="numbering">6</span>
                        <span class="text">Yaml</span>
                    </div>
                </div>
                

                <div class="step-contents-01">
                    <div class="tableWrap">
                        <table>
                            <tbody>
                                <tr>
                                    <th>value</th>
                                    <td>
                                        <select class="select" name="" id="">
                                            <option value="text1">text1</option>
                                            <option value="text2">text2</option>
                                            <option value="text3">text3</option>
                                        </select>
                                    </td>
                                    <th>value</th>
                                    <td>
                                        <select class="select" name="" id="">
                                            <option value="text1">text1</option>
                                            <option value="text2">text2</option>
                                            <option value="text3">text3</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="req">value</th>
                                    <td>
                                        <input type="text" placeholder="이미지를 선택 해 주세요">
                                    </td>
                                    <th>value</th>
                                    <td>
                                        <select class="select" name="" id="">
                                            <option value="text1">text1</option>
                                            <option value="text2">text2</option>
                                            <option value="text3">text3</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>value</th>
                                    <td colspan="3">
                                        <select class="select" name="" id="">
                                            <option value="text1">text1</option>
                                            <option value="text2">text2</option>
                                            <option value="text3">text3</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>value</th>
                                    <td colspan="3">
                                        <select class="select" name="" id="">
                                            <option value="text1">text1</option>
                                            <option value="text2">text2</option>
                                            <option value="text3">text3</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>value</th>
                                    <td>
                                        <select class="select" name="" id="">
                                            <option value="text1">text1</option>
                                            <option value="text2">text2</option>
                                            <option value="text3">text3</option>
                                        </select>
                                    </td>
                                    <th>value</th>
                                    <td>
                                        <select class="select" name="" id="">
                                            <option value="text1">text1</option>
                                            <option value="text2">text2</option>
                                            <option value="text3">text3</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">선택</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-02" tabindex="-1" aria-labelledby="modal-02Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-l">
        <div class="modal-content" style="min-height: 720px;">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-02Label">상세정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <ul class="nav nav-tabs tab-round" id="myTab" role="tablist" style="margin-top: 0;">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="tab-01" data-toggle="tab" data-target="#contact" 
                      type="button" role="tab" aria-controls="contact" aria-selected="true">접속이력</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="tab-02" data-toggle="tab" data-target="#change" 
                      type="button" role="tab" aria-controls="change" aria-selected="false">변경이력</button>
                    </li>
                </ul>
                <div class="tab-content tab-round-content" id="myTabContent">
                    <!-- 첫번째탭 -->
                    <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                        <div class="step">
                            <div class="item complete">
                                <span class="numbering">1</span>
                                <span class="text">신청내역</span>
                            </div>
                            <div class="item complete">
                                <span class="numbering">2</span>
                                <span class="text">실행정보</span>
                            </div>
                            <div class="item focus">
                                <span class="numbering">3</span>
                                <span class="text">Pod</span>
                            </div>
                            <div class="item">
                                <span class="numbering">4</span>
                                <span class="text">Service</span>
                            </div>
                            <div class="item">
                                <span class="numbering">5</span>
                                <span class="text">Containers</span>
                            </div>
                            <div class="item">
                                <span class="numbering">6</span>
                                <span class="text">Yaml</span>
                            </div>
                        </div>
                        
                        <div class="step-contents-03">
                            <div class="grid">
                                <table class="table">
                                    <thead class="thead">
                                        <tr>
                                            <!-- evoke : th에서 inline style로 width를 지정해주세요. 지정하지 않으면 균등 width 배분됩니다. -->
                                            <th style="width: 56px;">NO</th>
                                            <th>파드명</th>
                                            <th>파드IP</th>
                                            <th>노드명</th>
                                            <th>생성일자</th>
                                            <th>변경일자</th>
                                            <th>파드상태</th>
                                            <th>준비상태</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody">
                                        <tr>
                                            <td>1</td>
                                            <td>파이프라인</td>
                                            <td>서버서버</td>
                                            <td>4-16 Core</td>
                                            <td>4GB-64GB</td>
                                            <td>50-2000GB</td>
                                            <td>aaaaaaaa</td>
                                            <td>디렉토리</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>파이프라인</td>
                                            <td>서버서버</td>
                                            <td>4-16 Core</td>
                                            <td>4GB-64GB</td>
                                            <td>50-2000GB</td>
                                            <td>aaaaaaaa</td>
                                            <td>디렉토리</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>파이프라인</td>
                                            <td>서버서버</td>
                                            <td>4-16 Core</td>
                                            <td>4GB-64GB</td>
                                            <td>50-2000GB</td>
                                            <td>aaaaaaaa</td>
                                            <td>디렉토리</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>파이프라인</td>
                                            <td>서버서버</td>
                                            <td>4-16 Core</td>
                                            <td>4GB-64GB</td>
                                            <td>50-2000GB</td>
                                            <td>aaaaaaaa</td>
                                            <td>디렉토리</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>파이프라인</td>
                                            <td>서버서버</td>
                                            <td>4-16 Core</td>
                                            <td>4GB-64GB</td>
                                            <td>50-2000GB</td>
                                            <td>aaaaaaaa</td>
                                            <td>디렉토리</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
        
                    <!-- 두번째탭 -->
                    <div class="tab-pane fade" id="change" role="tabpanel" aria-labelledby="change-tab">

                        <div class="step">
                            <div class="item complete">
                                <span class="numbering">1</span>
                                <span class="text">신청내역</span>
                            </div>
                            <div class="item focus">
                                <span class="numbering">2</span>
                                <span class="text">실행정보</span>
                            </div>
                            <div class="item">
                                <span class="numbering">3</span>
                                <span class="text">Pod</span>
                            </div>
                            <div class="item">
                                <span class="numbering">4</span>
                                <span class="text">Service</span>
                            </div>
                            <div class="item">
                                <span class="numbering">5</span>
                                <span class="text">Containers</span>
                            </div>
                            <div class="item">
                                <span class="numbering">6</span>
                                <span class="text">Yaml</span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">선택</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-03" tabindex="-1" aria-labelledby="modal-03Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-l">
        <div class="modal-content" style="min-height: 720px;">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-03Label">상세정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="tab">
                    <div class="item ac">접속이력</div>
                    <div class="item">변경이력</div>
                </div>

                <div data-include-path="./component/step.html"></div>

                <div class="step-contents-06">
                    <div class="yaml">
                        <img src="../img/img_step06_code.png" alt="img">
                        <img src="../img/img_step06_code.png" alt="img">
                        <img src="../img/img_step06_code.png" alt="img">
                        <img src="../img/img_step06_code.png" alt="img">
                        <img src="../img/img_step06_code.png" alt="img">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">선택</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-04" tabindex="-1" aria-labelledby="modal-04Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-m">
        <div class="modal-content" style="min-height: 720px;">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-04Label">복원</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="grid-tit">복원대상</div>
                <div class="grid">
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th style="width: 56px;">NO</th>
                                <th>앱명</th>
                                <th>프로젝트명</th>
                                <th>배포버전</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr>
                                <td>1</td>
                                <td>글렌</td>
                                <td>프리미엄</td>
                                <td>230316104906</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>글렌</td>
                                <td>프리미엄</td>
                                <td>230316104906</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="block-40"></div>

                <div class="grid-tit">복원대상</div>
                <div class="grid">
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th style="width: 56px;">NO</th>
                                <th>앱명</th>
                                <th>프로젝트명</th>
                                <th>배포버전</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr>
                                <td>1</td>
                                <td>글렌</td>
                                <td>프리미엄</td>
                                <td>230316104906</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>글렌</td>
                                <td>프리미엄</td>
                                <td>230316104906</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">복원</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-05" tabindex="-1" aria-labelledby="modal-05Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-05Label">파이프라인 선택 </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="grid">
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th style="width: 56px;">
                                    <label class="checkbox"><input type="checkbox"></label>
                                </th>
                                <th>파이프라인 명</th>
                                <th>젠킨스 서버</th>
                                <th>깃 서버</th>
                                <th>빌드 타입</th>
                                <th>소스 모듈 명</th>
                                <th>ZONE</th>
                                <th>디렉토리 생성</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr>
                                <td><label class="checkbox"><input type="checkbox"></label></td>
                                <td>파이프라인</td>
                                <td>서버서버</td>
                                <td>4-16 Core</td>
                                <td>4GB-64GB</td>
                                <td>50-2000GB</td>
                                <td>aaaaaaaa</td>
                                <td>디렉토리</td>
                            </tr>
                            <tr>
                                <td><label class="checkbox"><input type="checkbox"></label></td>
                                <td>파이프라인</td>
                                <td>서버서버</td>
                                <td>4-16 Core</td>
                                <td>4GB-64GB</td>
                                <td>50-2000GB</td>
                                <td>aaaaaaaa</td>
                                <td>디렉토리</td>
                            </tr>
                            <tr>
                                <td><label class="checkbox"><input type="checkbox"></label></td>
                                <td>파이프라인</td>
                                <td>서버서버</td>
                                <td>4-16 Core</td>
                                <td>4GB-64GB</td>
                                <td>50-2000GB</td>
                                <td>aaaaaaaa</td>
                                <td>디렉토리</td>
                            </tr>
                            <tr>
                                <td><label class="checkbox"><input type="checkbox"></label></td>
                                <td>파이프라인</td>
                                <td>서버서버</td>
                                <td>4-16 Core</td>
                                <td>4GB-64GB</td>
                                <td>50-2000GB</td>
                                <td>aaaaaaaa</td>
                                <td>디렉토리</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">선택</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-06" tabindex="-1" aria-labelledby="modal-06Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-m">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-06Label">업무 선택</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="treeViewWrap">
                    <div class="treeView">
                        <!-- groupTit 클릭 시 group 에 opne 클래쓰 토글 -->
                        <div class="group open">
                            <div class="groupTit">모바일서비스 고도화</div>
                            <ul>
                                <li class="item">모바일앱웹 개발</li>
                                <li class="item">어드민 개발</li>
                            </ul>
                        </div>
                        <div class="group">
                            <div class="groupTit">의료서비스 연구과제</div>
                            <ul>
                                <li class="item">item</li>
                                <li class="item">item</li>
                            </ul>
                        </div>

                        <div class="group">
                            <div class="groupTit">OTT 플랫폼 구축</div>
                            <ul>
                                <li class="item">item</li>
                                <li class="item">item</li>
                            </ul>
                        </div>

                        <div class="group open">
                            <div class="groupTit">결제 플랫폼 구축</div>
                            <ul>
                                <li class="item">핀테크 서비스</li>
                                <li class="item">해외카드연계</li>
                                <li class="item">애플페이 서비스</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">선택</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-07" tabindex="-1" aria-labelledby="modal-07Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-m">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-07Label">조직도 / 업무선택</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="treeViewWrap">
                    <div class="treeView">
                        <!-- groupTit 클릭 시 부모노드 group 에 opne 클래쓰 토글 -->
                        <div class="group open">
                            <div class="groupTit">시스템 운영팀</div>
                            <!-- 트리형태 구조를 위해 하위 요소는 ul로 감싸주세요 -->
                            <ul>
                                <div class="group open">
                                    <div class="groupTit">운영팀</div>
                                    <ul>
                                        <li class="item">APP 운영</li>
                                        <li class="item">시스템 운영</li>
                                    </ul>
                                </div>
                            </ul>

                            <ul>
                                <div class="group">
                                    <div class="groupTit">개발팀</div>
                                    <ul>
                                        <li class="item">개발팀1 운영</li>
                                        <li class="item">개발팀2 운영</li>
                                    </ul>
                                </div>
                            </ul>

                            <ul>
                                <div class="group">
                                    <div class="groupTit">마케팅팀</div>
                                    <ul>
                                        <li class="item">마케팅팀1 운영</li>
                                        <li class="item">마케팅팀2 운영</li>
                                        <li class="item">마케팅팀3 운영</li>
                                    </ul>
                                </div>
                            </ul>

                            <ul>
                                <div class="group open">
                                    <div class="groupTit">연구소</div>
                                    <ul>
                                        <li class="item">V3 연구</li>
                                        <li class="item">키트 연구</li>
                                        <li class="item">
                                            <input type="text" class="addTree" placeholder="부서명을 입력해주세요">
                                        </li>
                                    </ul>
                                </div>
                            </ul>    
                        </div>


                        <div class="group open">
                            <div class="groupTit">모바일서비스 고도화</div>
                            <ul>
                                <li class="item">모바일앱웹 개발</li>
                                <li class="item">어드민 개발</li>
                            </ul>
                        </div>

                        <div class="group">
                            <div class="groupTit">의료서비스 연구과제</div>
                            <ul>
                                <li class="item">의료서비스 연구과제1</li>
                                <li class="item">의료서비스 연구과제2</li>
                            </ul>
                        </div>

                        <div class="group">
                            <div class="groupTit">OTT 플랫폼 구축</div>
                            <ul>
                                <li class="item">OTT 플랫폼 구축1</li>
                                <li class="item">OTT 플랫폼 구축2</li>
                            </ul>
                        </div>

                        <div class="group open">
                            <div class="groupTit">결제 플랫폼 구축</div>
                            <ul>
                                <li class="item">핀테크 서비스</li>
                                <li class="item">해외카드연계</li>
                                <li class="item">애플페이 서비스</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">선택</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-08" tabindex="-1" aria-labelledby="modal-08Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-m">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-08Label">ZONE 등록 / ZONE 상세정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="tableWrap">
                    <table>
                        <tbody>
                            <tr>
                                <th class="req">
                                    ZONE ID
                                </th>
                                <td>    
                                    <input type="text" placeholder="영문,한글, 숫자 6자 이상 입력">
                                </td>
                            </tr>
                            <tr>
                                <th class="req">
                                    ZONE ID
                                </th>
                                <td>    
                                    <input type="text" placeholder="영문,한글, 숫자 6자 이상 입력" readonly value="ZONE999">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    시스템 유형
                                </th>
                                <td>    
                                    <div class="dropdown">
                                        <button class="select" type="button" data-toggle="dropdown" aria-expanded="false">선택해 주세요</button>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button">option1</button>
                                            <button class="dropdown-item" type="button">option2</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    클러스터
                                </th>
                                <td>    
                                    <div class="dropdown">
                                        <button class="select" type="button" data-toggle="dropdown" aria-expanded="false">선택해 주세요</button>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button">option1</button>
                                            <button class="dropdown-item" type="button">option2</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Profile
                                </th>
                                <td>    
                                    <div class="dropdown" style="width:175px;">
                                        <button class="select" type="button" data-toggle="dropdown" aria-expanded="false">선택해 주세요</button>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button">option1</button>
                                            <button class="dropdown-item" type="button">option2</button>
                                        </div>
                                    </div>
                                    <input style="width:184px;" type="text" placeholder="직접입력">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">저장</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-09" tabindex="-1" aria-labelledby="modal-09Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-m">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-09Label">외부 시스템 등록 / 외부 시스템 수정 / 파이프라인 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="tableWrap">
                    <table>
                        <tbody>
                            <tr>
                                <th class="req">외부시스템 이름</th>
                                <td>    
                                    <input type="text" placeholder="영문,한글, 숫자 6자 이상 입력" readonly value="수정불가">
                                </td>
                            </tr>
                            <tr>
                                <th class="req">인풋</th>
                                <td>    
                                    <input type="text" placeholder="입력해주세요">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    드롭다운
                                </th>
                                <td>    
                                    <div class="dropdown">
                                        <button class="select" type="button" data-toggle="dropdown" aria-expanded="false">선택해 주세요</button>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button">option1</button>
                                            <button class="dropdown-item" type="button">option2</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>설명</th>
                                <td>    
                                    <textarea style="width: 100%; height:80px;" placeholder="30자 이내로 입력"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>체크박스(택1)</th>
                                <td>
                                    <label class="checkbox">
                                        <input type="radio" name="useYN" checked="">
                                        <span>전체</span>
                                    </label>
                                    <label class="checkbox">
                                        <input type="radio" name="useYN">
                                        <span>선택</span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">저장</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-10" tabindex="-1" aria-labelledby="modal-10Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width:800px">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-10Label">시스템 알림</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="tableWrap">
                    <table>
                        <tbody>
                            <tr>
                                <th>작업대상</th>
                                <td>    
                                    <div class="dropdown">
                                        <button class="select" type="button" data-toggle="dropdown" aria-expanded="false">선택해 주세요</button>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button">option1</button>
                                            <button class="dropdown-item" type="button">option2</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>작업대상명</th>
                                <td>    
                                    <div class="dropdown">
                                        <button class="select" type="button" data-toggle="dropdown" aria-expanded="false">선택해 주세요</button>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" type="button">option1</button>
                                            <button class="dropdown-item" type="button">option2</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>작업종류</th>
                                <td>    
                                    <input type="text" placeholder="입력해주세요">
                                </td>
                            </tr>
                            <tr>
                                <th>사용자명</th>
                                <td>    
                                    <input type="text" placeholder="입력해주세요" value="KKANG">
                                </td>
                            </tr>
                            <tr>
                                <th>발생시간</th>
                                <td>    
                                    <input type="text" placeholder="0000-00-00 12:00">
                                </td>
                            </tr>
                            <tr>
                                <th>메시지</th>
                                <td>    
                                    <p class="text">400 Bad Request: "{"message":"Failed to save group {:name=>[\"can't be blank\", \"can contain only letters, digits, emojis, '_', '.', dash, space, parenthesis. It must start with letter, digit, emoji or '_'.\"], :path=>[\"can't be blank\", \"can contain only letters, digits, '_', '-' and '.'. Cannot start with '-' or end in '.', '.git' or '.atom'.\", \"is too short (minimum is 2 characters)\", \"is too short (minimum is 1 character)\", \"can't be blank\"]}"}"</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">저장</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-11" tabindex="-1" aria-labelledby="modal-11Label" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" style="max-width:1120px;">
        <div class="modal-content fullcalendar">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-11Label">사용 현황</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="calendarTop">
                    <button class="cal-left"></button>
                    <span>2023년 3월</span>
                    <button class="cal-right"></button>
                    <button class="btn-xs-df-line download-cvs"><i></i>CVS</button>
                </div>

                <div class="grid">
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th colspan="2">프로젝트 생성</th>
                                <th colspan="2">앱생성</th>
                                <th colspan="2">앱배포</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr>
                                <td>생성건수</td>
                                <td>생성건수</td>
                                <td>앱생성</td>
                                <td>삭제/만료</td>
                                <td>배포 건수</td>
                                <td>배포 에러</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>12</td>
                                <td>12</td>
                                <td>12</td>
                                <td>12</td>
                                <td>12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Fullcalendar -->
                <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js'></script>
                <script>

                    document.addEventListener('DOMContentLoaded', function() {
                        var calendarEl = document.getElementById('calendar');
                        var calendar = new FullCalendar.Calendar(calendarEl, {
                            initialView: 'dayGridMonth',
                            headerToolbar: false,
                        });
                        calendar.render();
                    });
                </script>

                <div id='calendar'></div>


            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-12" tabindex="-1" aria-labelledby="modal-12Label" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" style="max-width:1120px;">
        <div class="modal-content fullcalendar">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-11Label">일별 접속자 정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="calendarTop">
                    <button class="cal-left"></button>
                    <span>2023년 3월</span>
                    <button class="cal-right"></button>
                    <button class="btn-xs-df-line download-cvs"><i></i>CVS</button>
                </div>

                <div class="grid">
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th>DAU ( Daily Active User)</th>
                                <th>WAU ( Weekly Active User)</th>
                                <th>MAU ( Monthly Active User)</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr>
                                <td>12</td>
                                <td>12</td>
                                <td>12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Fullcalendar -->
                <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js'></script>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var calendarEl = document.getElementById('calendar02');
                        var calendar = new FullCalendar.Calendar(calendarEl, {
                            initialView: 'dayGridMonth',
                            headerToolbar: false,
                        });
                        calendar.render();
                    });
                </script>

                <div id='calendar02'></div>


            </div>
        </div>
        </div>
    </div>

</body>
</html>