<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClovirCM</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</head>
<body>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-01">
        앱관리 팝업
    </button>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-02">
        앱관리 팝업 - grid
    </button>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-03">
        앱관리 팝업 - 06. Yaml
    </button>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-04">
        앱관리 팝업 - 복원
    </button>
    
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-05">
        앱관리 팝업 - 파이프라인 선택 
    </button>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-06">
        프로젝트 선택 - 업무 선택
    </button>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-07">
        사용자 관리 - 조직도
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="modal-01" tabindex="-1" aria-labelledby="modal-01Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-l">
        <div class="modal-content" style="min-height: 720px;">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-01Label">상세정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="tab">
                    <div class="item ac">접속이력</div>
                    <div class="item">변경이력</div>
                </div>

                <div class="step">
                    <div class="item complete">
                        <span class="numbering">1</span>
                        <span class="text">신청내역</span>
                    </div>
                    <div class="item focus">
                        <span class="numbering">2</span>
                        <span class="text">실행정보</span>
                    </div>
                    <div class="item">
                        <span class="numbering">3</span>
                        <span class="text">Pod</span>
                    </div>
                    <div class="item">
                        <span class="numbering">4</span>
                        <span class="text">Service</span>
                    </div>
                    <div class="item">
                        <span class="numbering">5</span>
                        <span class="text">Containers</span>
                    </div>
                    <div class="item">
                        <span class="numbering">6</span>
                        <span class="text">Yaml</span>
                    </div>
                </div>
                

                <div class="step-contents-01">
                    <div class="tableWrap">
                        <table>
                            <tbody>
                                <tr>
                                    <th>value</th>
                                    <td>
                                        <select class="select" name="" id="">
                                            <option value="text1">text1</option>
                                            <option value="text2">text2</option>
                                            <option value="text3">text3</option>
                                        </select>
                                    </td>
                                    <th>value</th>
                                    <td>
                                        <select class="select" name="" id="">
                                            <option value="text1">text1</option>
                                            <option value="text2">text2</option>
                                            <option value="text3">text3</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="req">value</th>
                                    <td>
                                        <input type="text" placeholder="이미지를 선택 해 주세요">
                                    </td>
                                    <th>value</th>
                                    <td>
                                        <select class="select" name="" id="">
                                            <option value="text1">text1</option>
                                            <option value="text2">text2</option>
                                            <option value="text3">text3</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>value</th>
                                    <td colspan="3">
                                        <select class="select" name="" id="">
                                            <option value="text1">text1</option>
                                            <option value="text2">text2</option>
                                            <option value="text3">text3</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>value</th>
                                    <td colspan="3">
                                        <select class="select" name="" id="">
                                            <option value="text1">text1</option>
                                            <option value="text2">text2</option>
                                            <option value="text3">text3</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>value</th>
                                    <td>
                                        <select class="select" name="" id="">
                                            <option value="text1">text1</option>
                                            <option value="text2">text2</option>
                                            <option value="text3">text3</option>
                                        </select>
                                    </td>
                                    <th>value</th>
                                    <td>
                                        <select class="select" name="" id="">
                                            <option value="text1">text1</option>
                                            <option value="text2">text2</option>
                                            <option value="text3">text3</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">선택</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-02" tabindex="-1" aria-labelledby="modal-02Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-l">
        <div class="modal-content" style="min-height: 720px;">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-02Label">상세정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="tab">
                    <div class="item ac">접속이력</div>
                    <div class="item">변경이력</div>
                </div>

                <div class="step">
                    <div class="item complete">
                        <span class="numbering">1</span>
                        <span class="text">신청내역</span>
                    </div>
                    <div class="item complete">
                        <span class="numbering">2</span>
                        <span class="text">실행정보</span>
                    </div>
                    <div class="item focus">
                        <span class="numbering">3</span>
                        <span class="text">Pod</span>
                    </div>
                    <div class="item">
                        <span class="numbering">4</span>
                        <span class="text">Service</span>
                    </div>
                    <div class="item">
                        <span class="numbering">5</span>
                        <span class="text">Containers</span>
                    </div>
                    <div class="item">
                        <span class="numbering">6</span>
                        <span class="text">Yaml</span>
                    </div>
                </div>
                

                <div class="step-contents-03">
                    <div class="grid">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <!-- evoke : th에서 inline style로 width를 지정해주세요. 지정하지 않으면 균등 width 배분됩니다. -->
                                    <th style="width: 56px;">NO</th>
                                    <th>파드명</th>
                                    <th>파드IP</th>
                                    <th>노드명</th>
                                    <th>생성일자</th>
                                    <th>변경일자</th>
                                    <th>파드상태</th>
                                    <th>준비상태</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr>
                                    <td>1</td>
                                    <td>파이프라인</td>
                                    <td>서버서버</td>
                                    <td>4-16 Core</td>
                                    <td>4GB-64GB</td>
                                    <td>50-2000GB</td>
                                    <td>aaaaaaaa</td>
                                    <td>디렉토리</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>파이프라인</td>
                                    <td>서버서버</td>
                                    <td>4-16 Core</td>
                                    <td>4GB-64GB</td>
                                    <td>50-2000GB</td>
                                    <td>aaaaaaaa</td>
                                    <td>디렉토리</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>파이프라인</td>
                                    <td>서버서버</td>
                                    <td>4-16 Core</td>
                                    <td>4GB-64GB</td>
                                    <td>50-2000GB</td>
                                    <td>aaaaaaaa</td>
                                    <td>디렉토리</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>파이프라인</td>
                                    <td>서버서버</td>
                                    <td>4-16 Core</td>
                                    <td>4GB-64GB</td>
                                    <td>50-2000GB</td>
                                    <td>aaaaaaaa</td>
                                    <td>디렉토리</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>파이프라인</td>
                                    <td>서버서버</td>
                                    <td>4-16 Core</td>
                                    <td>4GB-64GB</td>
                                    <td>50-2000GB</td>
                                    <td>aaaaaaaa</td>
                                    <td>디렉토리</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">선택</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-03" tabindex="-1" aria-labelledby="modal-03Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-l">
        <div class="modal-content" style="min-height: 720px;">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-03Label">상세정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="tab">
                    <div class="item ac">접속이력</div>
                    <div class="item">변경이력</div>
                </div>

                <div data-include-path="./component/step.html"></div>

                <div class="step-contents-06">
                    <div class="yaml">
                        <img src="../img/img_step06_code.png" alt="img">
                        <img src="../img/img_step06_code.png" alt="img">
                        <img src="../img/img_step06_code.png" alt="img">
                        <img src="../img/img_step06_code.png" alt="img">
                        <img src="../img/img_step06_code.png" alt="img">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">선택</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-04" tabindex="-1" aria-labelledby="modal-04Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-m">
        <div class="modal-content" style="min-height: 720px;">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-04Label">복원</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="grid-tit">복원대상</div>
                <div class="grid">
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th style="width: 56px;">NO</th>
                                <th>앱명</th>
                                <th>프로젝트명</th>
                                <th>배포버전</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr>
                                <td>1</td>
                                <td>글렌</td>
                                <td>프리미엄</td>
                                <td>230316104906</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>글렌</td>
                                <td>프리미엄</td>
                                <td>230316104906</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="block-40"></div>

                <div class="grid-tit">복원대상</div>
                <div class="grid">
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th style="width: 56px;">NO</th>
                                <th>앱명</th>
                                <th>프로젝트명</th>
                                <th>배포버전</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr>
                                <td>1</td>
                                <td>글렌</td>
                                <td>프리미엄</td>
                                <td>230316104906</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>글렌</td>
                                <td>프리미엄</td>
                                <td>230316104906</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">복원</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-05" tabindex="-1" aria-labelledby="modal-05Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-05Label">파이프라인 선택 </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="grid">
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th style="width: 56px;">
                                    <label class="checkbox"><input type="checkbox"></label>
                                </th>
                                <th>파이프라인 명</th>
                                <th>젠킨스 서버</th>
                                <th>깃 서버</th>
                                <th>빌드 타입</th>
                                <th>소스 모듈 명</th>
                                <th>ZONE</th>
                                <th>디렉토리 생성</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr>
                                <td><label class="checkbox"><input type="checkbox"></label></td>
                                <td>파이프라인</td>
                                <td>서버서버</td>
                                <td>4-16 Core</td>
                                <td>4GB-64GB</td>
                                <td>50-2000GB</td>
                                <td>aaaaaaaa</td>
                                <td>디렉토리</td>
                            </tr>
                            <tr>
                                <td><label class="checkbox"><input type="checkbox"></label></td>
                                <td>파이프라인</td>
                                <td>서버서버</td>
                                <td>4-16 Core</td>
                                <td>4GB-64GB</td>
                                <td>50-2000GB</td>
                                <td>aaaaaaaa</td>
                                <td>디렉토리</td>
                            </tr>
                            <tr>
                                <td><label class="checkbox"><input type="checkbox"></label></td>
                                <td>파이프라인</td>
                                <td>서버서버</td>
                                <td>4-16 Core</td>
                                <td>4GB-64GB</td>
                                <td>50-2000GB</td>
                                <td>aaaaaaaa</td>
                                <td>디렉토리</td>
                            </tr>
                            <tr>
                                <td><label class="checkbox"><input type="checkbox"></label></td>
                                <td>파이프라인</td>
                                <td>서버서버</td>
                                <td>4-16 Core</td>
                                <td>4GB-64GB</td>
                                <td>50-2000GB</td>
                                <td>aaaaaaaa</td>
                                <td>디렉토리</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">선택</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modal-06" tabindex="-1" aria-labelledby="modal-06Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-m">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-06Label">업무 선택</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="treeViewWrap">
                    <div class="treeView">
                        <!-- groupTit 클릭 시 group 에 opne 클래쓰 토글 -->
                        <div class="group open">
                            <div class="groupTit">모바일서비스 고도화</div>
                            <ul>
                                <li class="item">모바일앱웹 개발</li>
                                <li class="item">어드민 개발</li>
                            </ul>
                        </div>
                        <div class="group">
                            <div class="groupTit">의료서비스 연구과제</div>
                            <ul>
                                <li class="item">item</li>
                                <li class="item">item</li>
                            </ul>
                        </div>

                        <div class="group">
                            <div class="groupTit">OTT 플랫폼 구축</div>
                            <ul>
                                <li class="item">item</li>
                                <li class="item">item</li>
                            </ul>
                        </div>

                        <div class="group open">
                            <div class="groupTit">결제 플랫폼 구축</div>
                            <ul>
                                <li class="item">핀테크 서비스</li>
                                <li class="item">해외카드연계</li>
                                <li class="item">애플페이 서비스</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">선택</button>
            </div>
        </div>
        </div>
    </div>


    <div class="modal fade" id="modal-07" tabindex="-1" aria-labelledby="modal-07Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-m">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modal-07Label">조직도 / 업무선택</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="treeViewWrap">
                    <div class="treeView">
                        <!-- groupTit 클릭 시 부모노드 group 에 opne 클래쓰 토글 -->
                        <div class="group open">
                            <div class="groupTit">시스템 운영팀</div>
                            <!-- 트리형태 구조를 위해 하위 요소는 ul로 감싸주세요 -->
                            <ul>
                                <div class="group open">
                                    <div class="groupTit">운영팀</div>
                                    <ul>
                                        <li class="item">APP 운영</li>
                                        <li class="item">시스템 운영</li>
                                    </ul>
                                </div>
                            </ul>

                            <ul>
                                <div class="group">
                                    <div class="groupTit">개발팀</div>
                                    <ul>
                                        <li class="item">개발팀1 운영</li>
                                        <li class="item">개발팀2 운영</li>
                                    </ul>
                                </div>
                            </ul>

                            <ul>
                                <div class="group">
                                    <div class="groupTit">마케팅팀</div>
                                    <ul>
                                        <li class="item">마케팅팀1 운영</li>
                                        <li class="item">마케팅팀2 운영</li>
                                        <li class="item">마케팅팀3 운영</li>
                                    </ul>
                                </div>
                            </ul>

                            <ul>
                                <div class="group open">
                                    <div class="groupTit">연구소</div>
                                    <ul>
                                        <li class="item">V3 연구</li>
                                        <li class="item">키트 연구</li>
                                        <li class="item">
                                            <input type="text" class="addTree" placeholder="부서명을 입력해주세요">
                                        </li>
                                    </ul>
                                </div>
                            </ul>    
                        </div>


                        <div class="group open">
                            <div class="groupTit">모바일서비스 고도화</div>
                            <ul>
                                <li class="item">모바일앱웹 개발</li>
                                <li class="item">어드민 개발</li>
                            </ul>
                        </div>

                        <div class="group">
                            <div class="groupTit">의료서비스 연구과제</div>
                            <ul>
                                <li class="item">의료서비스 연구과제1</li>
                                <li class="item">의료서비스 연구과제2</li>
                            </ul>
                        </div>

                        <div class="group">
                            <div class="groupTit">OTT 플랫폼 구축</div>
                            <ul>
                                <li class="item">OTT 플랫폼 구축1</li>
                                <li class="item">OTT 플랫폼 구축2</li>
                            </ul>
                        </div>

                        <div class="group open">
                            <div class="groupTit">결제 플랫폼 구축</div>
                            <ul>
                                <li class="item">핀테크 서비스</li>
                                <li class="item">해외카드연계</li>
                                <li class="item">애플페이 서비스</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-m-df" data-dismiss="modal">취소</button>
                <button type="button" class="btn-m-main">선택</button>
            </div>
        </div>
        </div>
    </div>

</body>
</html>