<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClovirCM</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <body>
        <div class="rangeWrap">
            <div class="range">
                <label for="item01"><span class="value">2</span><input type="radio" name="range" id="item01" checked></label>
                <label for="item02"><span class="value">4</span><input type="radio" name="range" id="item02"></label>
                <label for="item03"><span class="value">8</span><input type="radio" name="range" id="item03"></label>
                <label for="item04"><span class="value">1500</span><input type="radio" name="range" id="item04"></label>
                <label for="item05"><span class="value">4000</span><input type="radio" name="range" id="item05"></label>
            </div>
            <!-- range value 값 변경될 때마다 rangeConsole에 value 넣어주세요 -->
            <input class="rangeConsole" type="number" readonly value="2">
        </div>
    </body>
</body>
</html>