<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClovirCM</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <!-- complete : 완료 -->
    <!-- focus : 현재 스텝 -->
    <div class="step">
        <div class="item complete">
            <span class="numbering">1</span>
            <span class="text">신청내역</span>
        </div>
        <div class="item complete">
            <span class="numbering">2</span>
            <span class="text">실행정보</span>
        </div>
        <div class="item complete">
            <span class="numbering">3</span>
            <span class="text">Pod</span>
        </div>
        <div class="item complete">
            <span class="numbering">4</span>
            <span class="text">Service</span>
        </div>
        <div class="item complete">
            <span class="numbering">5</span>
            <span class="text">Containers</span>
        </div>
        <div class="item focus">
            <span class="numbering">6</span>
            <span class="text">Yaml</span>
        </div>
    </div>
</body>
</html>